@model WeatherViewModel.Data
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />

          <div class="alert alert-success">Ankara Hava Durumu: @Model.temp</div>
</div>